* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 163%;
  background: #F5F5FA;
  color: #000;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #323264;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

ul li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

ol li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 762px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 1820px) {
  .container {
    padding: 0 160px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

main {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1600px;
  margin: 0 auto;
}
header .contact-side {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}
header .contact-side .dot, header .contact-side .address, header .contact-side svg {
  display: none;
}
header .contact-side .language-btn {
  background: transparent;
  width: 33px;
  height: 25px;
  color: #FFF;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
header .contact-side .language-btn:hover {
  background: #F0145A;
}
header .contact-side h4 {
  height: 20px;
  text-align: right;
}
header .header-links {
  display: none;
}
header .side-menu {
  padding: 15px 15px 10px;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  gap: 4px;
}
header .side-menu .logo {
  align-items: center;
  gap: 4px;
  width: 70px;
  height: 32px;
}
header .side-menu span {
  display: flex;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

#overlay-button {
  position: absolute;
  right: 15px;
  z-index: 5;
  cursor: pointer;
}
#overlay-button span {
  height: 2.5px;
  width: 30px;
  background-color: #FFF;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 3px;
  width: 30px;
  background-color: #FFF;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}
#overlay-input:checked ~ .header-links {
  display: flex;
  height: 55%;
  background: #FFF;
  position: fixed;
  width: 96%;
  align-self: center;
  bottom: 0;
  left: 2%;
  border-radius: 12px 12px 0 0;
  z-index: 2;
  padding: 0 12px 12px;
}
#overlay-input:checked ~ .header-links ul {
  position: absolute;
  width: 95%;
  left: 2.5%;
  gap: 15px;
  bottom: 12px;
}
#overlay-input:checked ~ .header-links ul li {
  justify-content: center;
  color: #24A3FF;
  list-style: none;
  display: flex;
  border-radius: 12px;
  background-color: #F5F5FA;
  text-align: center;
  font-size: 24px;
  padding: 4px 0;
  font-weight: 700;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}
input[type=checkbox]:checked ~ #overlay-button {
  position: absolute;
  right: 5%;
  top: 49vh;
}
input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
}
input[type=checkbox]:checked ~ #overlay-button span:before {
  background: #F0145A;
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ #overlay-button span:after {
  background: #F0145A;
  transform: rotate(-45deg) translate(7px, -7px);
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  max-height: 100%;
  overflow-x: hidden;
}
.first h2 {
  color: #FFF;
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: absolute;
  z-index: 2;
}
.first img {
  max-width: 100%;
  min-width: 523px;
  min-height: 600px;
  max-height: 100%;
  position: relative;
  z-index: 1;
}
.first .container {
  display: flex;
  justify-content: center;
}

@media (min-width: 762px) {
  header {
    padding: 50px 60px 0;
  }
  header #overlay-button {
    display: none;
  }
  header .contact-side {
    background-color: unset;
    padding: 0;
    justify-content: left;
    gap: 6px;
  }
  header .contact-side .dot, header .contact-side .address, header .contact-side svg {
    display: flex;
  }
  header .contact-side .dot {
    height: 6px;
    width: 6px;
    background-color: #FFF;
    border-radius: 50%;
    align-self: center;
  }
  header .contact-side .address {
    color: #B3B3BA;
    font-size: 16px;
    font-weight: 400;
  }
  header .side-menu {
    padding: 30px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  header .side-menu .logo {
    width: 130px;
    height: 60px;
  }
  header span:last-of-type {
    display: none;
  }
  header .header-links {
    display: flex;
    position: relative;
    padding-top: 0;
    height: auto;
    width: auto;
    background: none;
  }
  header .header-links .flex {
    flex-direction: row;
    gap: 15px;
  }
  header .header-links li {
    list-style-type: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
  }
}
@media (min-width: 992px) {
  header .contact-side {
    justify-content: end;
  }
  header .side-menu {
    padding: 16px 0 0 0;
    align-items: end;
  }
  header .logo {
    position: absolute;
    top: 50px;
    left: 60px;
  }
}

/*# sourceMappingURL=base.css.map */
