@import "base";

.gradient-red-reversed {
  background-image: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  color: transparent;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;


  h2 {
    color: $basic-white;
    text-align: center;
    font-size: 38px;
    line-height: 1;
    padding: 0 45px;
  }

  .container {
    display: flex;
    justify-content: center;

    img {
      min-width: 523px;
    }
  }

  .section-1-content {
    position: absolute;
    align-items: center;
    width: 100%;

    svg {
      position: absolute;
    }
  }
}

.section-tabs {
  display: flex;
  width: 100%;

  .tabs {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    justify-content: space-around;

    .content {
    }

    ul {
      max-width: 100%;
      display: flex;
      overflow-x: auto;
    }

    li {

      color: $grey-text;
      font-size: 30px;
      font-weight: 700;
      list-style: none;
      padding: 0 15px;
      text-align: center;
      border-bottom: 4px solid rgb(255 255 255/ 30%);
      transition: all 0.5s;

      &.ui-tabs-active {
        border-color: $accent;
        @extend .gradient-red-reversed;
      }

      a {
        max-width: 300px;
      }

    }

    li:first-child {
      padding: 0 15px 0 0;
    }

    p:first-child {
      color: $basic-white;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;
    }

    p {
      max-width: 861px;
      color: $basic-white;
      font-size: 19px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

@media (min-width: 762px) {
  .section-tabs {
    .content {
      p:first-child {
        font-size: 30px;
      }
    }

  }
}

@media (min-width: 992px) {
  .section-tabs {
    flex-direction: row;
    margin: 0 auto;
    align-items: center;

    .tabs {
      flex-direction: row;

      ul {
        flex-direction: column;
        text-align: right;
      }

      li, li:first-child {
        font-size: 38px;
        padding: 0 60px 30px 0;
        text-align: right;
        border-bottom: none;
        border-right: 4px solid rgb(255 255 255/ 30%);
      }
    }

    .content {
      width: 50%;
    }
  }
}

@media (min-width: 1320px) {
  .section-tabs {
    .tabs {
      padding: 30px 120px;
    }
  }
}


