$basic-white: #FFF;
$basic-black: #000;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$accent: #F0145A;

$gradient-regular: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
$gradient-super-soft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);

$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;


* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 163%;
  color: $basic-white;

}

.flex {
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: 30px;
  font-weight: 700;
  background: $gradient-red-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  @media (min-width: 762px) {
    font-size: 38px;
  }
}

h2 {
  color: $main-regular;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: $main-regular;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

h4 {
  color: $basic-white;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

ul li {
  color: $basic-black;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

ol li {
  color: $basic-black;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  overflow-x: hidden;
  @media (min-width: 762px) {
    padding: 0 60px;
  }
  @media (min-width: 1520px) {
    padding: 0 160px;
  }

}

.flex {
  display: flex;
  flex-direction: column;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  max-width: 1720px;
  background-color: $basic-white;

  .contact-side {
    background-color: rgb(255 255 255 / 20%);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;

    a {
      color: $grey-text;
    }


    .dot, .address, svg, .facebook-link {
      display: none;
    }

    .language-btn {
      background: transparent;
      width: 33px;
      height: 25px;
      color: $basic-white;
      font-size: 12px;
      border-radius: 8px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center;

      &:last-of-type {
        background: $accent;
      }

      &:last-of-type a {
        color: $basic-white;
      }

      &:hover {
        background: $grey-bg;
      }

      &:active {
        background: $accent;
      }

      &:active a {
        color: $basic-white;
      }

    }

    h4 {
      height: 20px;
      text-align: right;
    }
  }

  .header-links {
    display: none;
  }

  .side-menu {
    padding: 15px 15px 10px;
    align-items: center;
    align-self: stretch;
    flex-direction: row;
    gap: 4px;

    .logo {
      align-items: center;
      gap: 4px;
      width: 70px;
      height: 32px;
    }

    .page-name {
      display: flex;
      flex-direction: row;
    }

    span {
      display: flex;
      color: $main-regular;
      font-size: 20px;
      font-weight: 400;

      text {
        align-self: center;
      }
    }
  }
}



#overlay-button {
  position: absolute;
  right: 15px;
  z-index: 5;
  cursor: pointer;

  span {
    height: 2.5px;
    width: 30px;
    background-color: $basic-black;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;

    &:before {
      top: -10px;
      visibility: visible;
    }

    &:after {
      top: 10px;
    }

    &:before, &:after {
      height: 3px;
      width: 30px;
      background-color: $basic-black;
      position: absolute;
      content: "";
      transition: all .2s ease-in-out;
    }
  }
}

#overlay-input:checked ~ .header-links {
  display: flex;
  height: 351px;
  background: $basic-white;
  position: fixed;
  width: 96%;
  align-self: center;
  bottom: 0;
  left: 2%;
  border-radius: 12px 12px 0 0;
  z-index: 2;
  padding: 12px;

  ul {
    position: absolute;
    width: 95%;
    left: 2.5%;
    gap: 15px;
    bottom: 12px;

    li {
      justify-content: center;
      color: $active-regular;
      list-style: none;
      display: flex;
      border-radius: 12px;
      background-color: $grey-bg;
      text-align: center;
      font-size: 24px;
      padding: 4px 0;
      font-weight: 700;
    }
    li:hover {
      background: $grey-separator;
    }
  }
}

input[type=checkbox] {
  display: none;

  &:checked ~ #overlay {
    visibility: visible;

  }

  &:checked ~ #overlay-button {
    position: absolute;
    right: 5%;
    top: 342px;
    @media (min-width: 414px) {
      top: 570px;
    }
    &:hover span, span {
      background: transparent;
    }

    span {
      &:before {
        background: #EC6F5D;
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }

      &:after {
        background: #EC6F5D;
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}


@media (min-width: 762px) {
  header {
    padding: 50px 60px 0;

    #overlay-button {
      display: none;
    }

    .contact-side {
      background-color: unset;
      padding: 0;
      justify-content: left;
      gap: 6px;

      svg {
        color: $grey-text;
      }

      svg:hover {
        color: $accent;
      }

      .dot, .address, svg, {
        display: flex;
      }

      .dot {
        height: 6px;
        width: 6px;
        background-color: $grey-separator;
        border-radius: 50%;
        align-self: center;
      }

      .address {
        color: $grey-text;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .side-menu {
      padding: 30px 0 0 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      .page-name {
        position: absolute;
        bottom: 67px;
        left: 195px;
        display: flex;
        flex-direction: row;
      }

      text {
        font-size: 36px;
        font-weight: 400;
      }

      .slash {
        width: 21px;
        height: 47px;
      }

      .logo {
        width: 130px;
        height: 60px;

      }
    }

    .header-links {
      display: flex;
      position: relative;
      padding-top: 0;
      height: auto;
      width: auto;
      background: none;

      .flex {
        flex-direction: row;
        gap: 15px;

      }

      li {
        list-style-type: none;
        color: $active-regular;
        font-size: 16px;
        font-weight: 700;
      }

      li:hover {
        color: $active-regular;
        border-bottom: solid 2px;
      }
      li:active{
         color: $accent;
         border-bottom: solid 2px;
       }
    }
  }
}

@media (min-width: 992px) {
  header {
    .contact-side {
      justify-content: end;

    }

    .side-menu {
      padding: 16px 0 0 0;
      align-items: end;

      .logo {
        position: absolute;
        top: 50px;
        left: 60px;
      }

      .page-name {
        bottom: 20px;

      }
    }
  }
}





