* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 163%;
  color: #FFF;
}

.flex {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
@media (min-width: 762px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  color: #323264;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

h4 {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

ul li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

ol li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  overflow-x: hidden;
}
@media (min-width: 762px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 1520px) {
  .container {
    padding: 0 160px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  max-width: 1720px;
  background-color: #FFF;
}
header .contact-side {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}
header .contact-side a {
  color: #B3B3BA;
}
header .contact-side .dot, header .contact-side .address, header .contact-side svg {
  display: none;
}
header .contact-side .language-btn {
  background: transparent;
  width: 33px;
  height: 25px;
  color: #FFF;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
header .contact-side .language-btn:hover {
  background: #F0145A;
}
header .contact-side .language-btn:hover a {
  color: #FFF;
}
header .contact-side h4 {
  height: 20px;
  text-align: right;
}
header .header-links {
  display: none;
}
header .side-menu {
  padding: 15px 15px 10px;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  gap: 4px;
}
header .side-menu .logo {
  align-items: center;
  gap: 4px;
  width: 70px;
  height: 32px;
}
header .side-menu .page-name {
  display: flex;
  flex-direction: row;
}
header .side-menu span {
  display: flex;
  color: #323264;
  font-size: 20px;
  font-weight: 400;
}

#overlay-button {
  position: absolute;
  right: 15px;
  z-index: 5;
  cursor: pointer;
}
#overlay-button:hover {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
#overlay-button span {
  height: 2.5px;
  width: 30px;
  background-color: #323264;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 3px;
  width: 30px;
  background-color: #323264;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}
#overlay-input:checked ~ .header-links {
  display: flex;
  height: 351px;
  background: #FFF;
  position: fixed;
  width: 96%;
  align-self: center;
  bottom: 0;
  left: 2%;
  border-radius: 12px 12px 0 0;
  z-index: 2;
  padding: 0 12px 12px;
}
#overlay-input:checked ~ .header-links ul {
  position: absolute;
  width: 95%;
  left: 2.5%;
  gap: 15px;
  bottom: 12px;
}
#overlay-input:checked ~ .header-links ul li {
  justify-content: center;
  color: #24A3FF;
  list-style: none;
  display: flex;
  border-radius: 12px;
  background-color: #F5F5FA;
  text-align: center;
  font-size: 24px;
  padding: 4px 0;
  font-weight: 700;
}
#overlay-input:checked ~ .header-links ul li:hover, #overlay-input:checked ~ .header-links ul li:active {
  color: #F0145A;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}
input[type=checkbox]:checked ~ .header-links .overlay-close-button:hover span, input[type=checkbox]:checked ~ .header-links .overlay-close-button span {
  background: transparent;
}
input[type=checkbox]:checked ~ .header-links .overlay-close-button span:before {
  background: #EC6F5D;
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ .header-links .overlay-close-button span:after {
  background: #EC6F5D;
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (min-width: 762px) {
  header {
    padding: 50px 60px 0;
  }
  header #overlay-button {
    display: none;
  }
  header .contact-side {
    background-color: unset;
    padding: 0;
    justify-content: left;
    gap: 6px;
  }
  header .contact-side .dot, header .contact-side .address, header .contact-side svg {
    display: flex;
  }
  header .contact-side .dot {
    height: 6px;
    width: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    align-self: center;
  }
  header .contact-side .address {
    color: #B3B3BA;
    font-size: 16px;
    font-weight: 400;
  }
  header .side-menu {
    padding: 30px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  header .side-menu .page-name {
    position: absolute;
    bottom: 75px;
    left: 195px;
  }
  header .side-menu .logo {
    width: 130px;
    height: 60px;
  }
  header .side-menu .logo .page-name {
    display: flex;
    flex-direction: row;
  }
  header .header-links {
    display: flex;
    position: relative;
    padding-top: 0;
    height: auto;
    width: auto;
    background: none;
  }
  header .header-links .flex {
    flex-direction: row;
    gap: 15px;
  }
  header .header-links li {
    list-style-type: none;
    color: #24A3FF;
    font-size: 16px;
    font-weight: 700;
  }
  header .header-links li:hover {
    color: #F0145A;
    border-bottom: solid 2px;
  }
}
@media (min-width: 992px) {
  header .contact-side {
    justify-content: end;
  }
  header .side-menu {
    padding: 16px 0 0 0;
    align-items: end;
  }
  header .side-menu .page-name {
    bottom: 25px;
  }
  header .side-menu .logo {
    position: absolute;
    top: 50px;
    left: 60px;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

footer {
  background: #F5F5FA;
  padding: 30px 0;
}
footer hr {
  background: #E6E6F0;
  height: 2px;
  width: 100%;
  margin-bottom: 30px;
}
footer .dot {
  display: none;
}
footer .footer-right-side {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 21px;
  align-items: center;
}
footer .address p {
  color: #323264;
  font-size: 16px;
  font-weight: 400;
}
footer .address a {
  color: #24A3FF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
footer .contacts svg path:hover {
  fill: #F0145A;
}
footer .contacts h4 {
  color: #46466E;
}
footer .contacts h4:last-of-type {
  color: #24A3FF;
}
footer .contacts h4:last-of-type:hover {
  color: #F0145A;
}
footer .footer-left-side {
  display: flex;
  justify-content: center;
}
footer .footer-left-side p {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 762px) {
  .footer-flex {
    flex-direction: row;
  }
  .footer-flex .footer-right-side .address, .footer-flex .footer-right-side .contacts {
    flex-direction: row;
    justify-content: start;
    width: 400px;
  }
  .footer-flex .footer-right-side .dot {
    display: flex;
    height: 6px;
    width: 6px;
    background-color: #B3B3BA;
    border-radius: 50%;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-flex .footer-right-side {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-flex .footer-right-side .address {
    align-items: flex-start;
    flex-direction: row;
  }
  .footer-flex .footer-right-side .contacts {
    align-items: flex-start;
    flex-direction: row;
  }
  .footer-flex .footer-left-side {
    justify-content: flex-end;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 163%;
  color: #000;
}

.section-contact {
  margin-top: 133px;
}
@media (min-width: 762px) {
  .section-contact {
    margin-top: 280px;
  }
}
@media (min-width: 992px) {
  .section-contact {
    margin-top: 175px;
  }
}
.section-contact .container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 762px) {
  .section-contact .container {
    padding: 0 60px;
  }
}
@media (min-width: 1440px) {
  .section-contact .container {
    padding: 0;
  }
}
.section-contact .flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 30px;
}
@media (min-width: 762px) {
  .section-contact .flex {
    margin-bottom: 60px;
    gap: 60px;
  }
}
@media (min-width: 992px) {
  .section-contact .flex {
    flex-direction: row;
    gap: 60px;
  }
}
.section-contact .contact-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 992px) {
  .section-contact .contact-links {
    width: 650px;
  }
}
.section-contact .contact-links a {
  color: #323264;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
.section-contact .contact-links .email a {
  color: #24A3FF;
}
.section-contact .contact-links hr {
  height: 4px;
  background-color: #E6E6F0;
}
.section-contact .contact-links span {
  display: flex;
  gap: 10px;
  height: 38px;
  align-items: center;
}
.section-contact text {
  color: #24A3FF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 105px;
  cursor: pointer;
}
.section-contact text:hover {
  color: #F0145A;
}

.form {
  width: 100%;
}
@media (min-width: 992px) {
  .form {
    max-width: 650px;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  border-radius: 12px;
  background: #F5F5FA;
  width: 100%;
}
form h2 {
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
form input, form textarea {
  display: flex;
  padding: 15px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #FFF;
  border: 1px solid #FFF;
}
form input:disabled, form textarea:disabled {
  border-radius: 8px;
  border: 1px solid #EDEDF7;
  background: #EDEDF7;
}
form input:focus, form textarea:focus {
  border-radius: 8px;
  border: 1px solid #24A3FF;
  color: #000;
}
form input:invalid, form textarea:invalid {
  border-radius: 8px;
  border: 1px solid #F00;
  color: #F00;
}
form textarea {
  height: 130px;
  width: 100%;
}
form .caps {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px 0 15px 0;
}
form .button-flex {
  width: 100%;
}
form .form-btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  padding: 18px 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}
form .form-btn:hover {
  background: #0085FF;
}
form .form-btn:active {
  background: #006CCF;
}
form .form-btn::-moz-progress-bar {
  background: #006CCF;
}

/*# sourceMappingURL=contact_page.css.map */
