@import "base_white_header";
@import "footer";


* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 163%;
  color: $basic-black;
  background: $basic-white;

}

#overlay-input:checked ~ .header-links {
  li:nth-child(4) {
    color: $accent;
  }
}

@media (min-width: 762px) {
  .header-links {
    li:nth-child(4) {
      color: $accent;
      border-bottom: solid 2px;
    }
  }
}

.publications {
  background: $grey-bg;
  margin-top: 103px;
  @media (min-width: 762px) {
    margin-top: 280px;
  }
  @media (min-width: 992px) {
    margin-top: 175px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    align-items: center;
    align-self: stretch;

    .publications-select {
      display: flex;
      padding: 2px;
      align-items: flex-start;
      gap: 2px;
      border-radius: 12px;
      background: $grey-separator;

      .btn {
        display: flex;
        padding: 8px 30px 10px 30px;
        align-items: flex-start;
        gap: 10px;
        color: $main-regular;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        background: transparent;
        cursor: pointer;
      }

      .btn:hover {
        border-radius: 10px;
        background: $grey-bg;
      }

      .btn:active{
        border-radius: 10px;
        background: $basic-white;
      }
    }


    .cards-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;


      @media (min-width: 763px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    }

    .card {
      background: $basic-white;
      border-radius: 0 0 8px 8px;

      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 30px;

      p:first-of-type {
        color: $grey-text;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      p {
        color: $basic-black;
        font-size: 14px;
        font-weight: 400;
        line-height: 157%;
      }

      hr {
        background: $grey-separator;
        height: 4px;
        width: 100%;
      }
    }

    h4 {
      color: $active-regular;
      text-align: left;

      &:hover {
        color: $accent;
      }
    }
  }

  .btn-more-publications {
    cursor: pointer;
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px;
    background: $active-regular;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.50);
    color: $basic-white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      background: $active-hover;
    }

    &:active {
      background: $active-active;
    }
  }
}